{% extends 'projects/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
{% crispy form %}

<div id="list">
	{% for item in actionlist_items %}
		<div class="mui-row">
			<div class="mui-col-xs-12 mui-col-md-6 full-height action-item">
				{{ item.text }}
			</div>
			<div class="mui-col-xs-4">
				<a class="mui-btn mui-btn--accent"
					href="{% url 'projects:delete_actionlist' item.pk %}">
					{% trans 'Delete' %}
				</a>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}
