{% extends 'projects/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block script %}
{{ block.super }}
<script src="{% static 'js/projects.js' %}"></script>
{% endblock script %}

{% block head_title %}{% trans 'Action list' %}{% endblock %}

{% block content %}
{% crispy form %}

<div id="list">
	{% for item in actionlist_items %}
		<div class="mui-row">
			<div class="mui-col-xs-12 mui-col-md-6 full-height action-item">
				{{ item.text }}
				<form method="post"
					action="{% url 'projects:complete_action' item.pk %}">
					{% csrf_token %}
				</form>
			</div>
			<div class="mui-col-xs-4">
				<a class="mui-btn mui-btn--accent mui-btn--fab action-delete"
					href="{% url 'projects:delete_actionlist' item.pk %}"
					title="{% trans 'Delete' %}">
					<span class="fa fa-times fa-2x"></span>
				</a>
			</div>
		</div>
	{% endfor %}
</div>

<div id="checked">
	{% for item in actionlist_complete %}
		<div class="mui-row">
			<div class="mui-col-xs-12 mui-col-md-6 full-height action-item">
				{{ item.text }}
				<form method="post"
					action="{% url 'projects:complete_action' item.pk %}">
					{% csrf_token %}
				</form>
			</div>
			<div class="mui-col-xs-4">
				<a class="mui-btn mui-btn--accent mui-btn--fab action-delete"
					href="{% url 'projects:delete_actionlist' item.pk %}"
					title="{% trans 'Delete' %}">
					<span class="fa fa-times fa-2x"></span>
				</a>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}
