{% extends 'projects/base.html' %}
{% load i18n %}

{% block head_title %}{% trans 'Delete action' %}{% endblock %}

{% block content %}
{% if actionlistitem.project %}
	{% blocktrans with project_name=actionlistitem.project.name %}Are you sure
	you want to remove the action "{{ actionlistitem }}" from the project
	{{ project_name }}{% endblocktrans %}
{% else %}
	{% blocktrans %}Are you sure you want to remove the action
	"{{ actionlistitem }}" from your action list?{% endblocktrans %}
{% endif %}
<form method="post" action="">
	{% csrf_token %}
	<input class="mui-btn mui-btn--primary" type="submit"
		value="{% trans 'Confirm' %}" />
</form>
{% endblock %}
