{% extends 'html.html' %}
{% load i18n %}
{% load static %}

{% block head_extra %}
	<link href="{% static 'css/sidebar.css' %}" rel="stylesheet"
		type="text/css">
{% endblock %}

{% block body %}
<div id="sidebar" class="mui--z1">
	<div id="sidebar-brand" class="mui--appbar-line-height mui--text-title">
		<a href="{% url 'projects:main' %}">{{ site.name }}</a>
	</div>
	<div class="mui-divider"></div>
	<ul>
		<li>
			<a class="sidebar-mainlink"
				href="{% url 'projects:inlist' %}">{% trans 'In list' %}</a>
		</li>
		<li>
			<a class="sidebar-mainlink"
			  href="{% url 'projects:actionlist' %}">{% trans 'Actions' %}</a>
		</li>
		<li>
			<a class="sidebar-mainlink"
				href="{% url 'projects:create_project' %}">
				{% trans 'Create project' %}
			</a>
		</li>
	{% block sidebar %}{% endblock %}
	</ul>
</div>

<header id="header">
	<div class="mui-appbar mui--appbar-line-height">
		<div class="mui-container-fluid">
			<div class="mui-row">
				<div class="mui-col-xs-2 mui-col-sm-1">
					<a class="sidebar-toggle mui--hidden-xs js-hide-sidebar
						appbar-correct">&#9776;</a>
					<a class="sidebar-toggle mui--visible-xs-inline-block
						js-show-sidebar appbar-correct">&#9776;</a>
				</div>
				<div class="mui-col-xs-4 mui--visible-xs-inline-block">
					<a class="mui--text-title appbar-correct"
						href="{% url 'projects:main' %}">{{ site.name }}</a>
				</div>
				<div class="mui-col-xs-6 mui-col-sm-11 mui--text-right">
					{% block appbar %}{% endblock %}
					<a class="mui-btn" href="{% url 'account_logout' %}">
						{% trans 'Log out' %}
						<span class="fa fa-sign-out"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>

<div id="content">
{% block content %}{% endblock %}

</div>

{% endblock body %}

{% block script %}
<script src="{% static 'js/sidebar.js' %}"></script>
{% endblock %}
