{% extends 'projects/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans 'In list' %}{% endblock %}

{% block content %}
{% crispy form %}
<div id="list">
{% for item in inlist_items %}
	<div class="mui-row">
		<div class="mui-col-xs-12 mui-col-md-6 full-height">
			{{ item.text }}
		</div>
		<div class="mui-col-xs-12 mui-col-md-6">
			{% url 'projects:delete_inlist' item.pk as delete_url %}
			{% if user.settings.inlist_delete_confirm %}
				{% include 'projects/buttons/delete.html' with url=delete_url only %}
			{% else %}
				{% include 'projects/buttons/delete_form.html' with url=delete_url %}
			{% endif %}

			{% url 'projects:convert_inlist_action' item.pk as convert_action_url %}
			{% include 'projects/buttons/convert_inlist_action.html' with url=convert_action_url only %}
			
			{% url 'projects:convert_inlist_project' item.pk as convert_project_url %}
			{% include 'projects/buttons/convert_inlist_project.html' with url=convert_project_url only %}
		</div>
	</div>
{% endfor %}
</div>
{% endblock %}
