{% extends 'projects/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans 'In list' %}{% endblock %}

{% block content %}
{% crispy form %}
<div id="list">
{% for item in inlist_items %}
	<div class="mui-row">
		<div class="mui-col-xs-12 mui-col-md-6 full-height">
			{{ item.text }}
		</div>
		<div class="mui-col-xs-12 mui-col-md-6">
			{% url 'projects:delete_inlist' item.pk as delete_url %}
			{% if user.settings.inlist_delete_confirm %}
				{% include 'projects/buttons/delete.html' with url=delete_url only %}
			{% else %}
				<form method="post" action="{{ delete_url }}"
					class="button-form">
					{% csrf_token %}
					<button type="submit" title="{% trans 'Delete' %}"
						class="mui-btn mui-btn--danger mui-btn--fab action-delete">
						<span class="fa fa-trash fa-2x"></span>
					</button>
				</form>
			{% endif %}
			<a class="mui-btn mui-btn--fab action-convert"
				href="{% url 'projects:convert_inlist_action' item.pk %}"
				title="{% trans 'Convert to action' %}">
				<span class="fa fa-gavel fa-2x"></span>
			</a>
			<a class="mui-btn mui-btn--fab action-project"
				href="{% url 'projects:convert_inlist_project' item.pk %}"
				title="{% trans 'Convert to project' %}">
				<span class="fa fa-chevron-right fa-2x"></span>
			</a>
		</div>
	</div>
{% endfor %}
</div>
{% endblock %}
