{% extends 'projects/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block script %}
{{ block.super }}
<script src="{% static 'js/projects.js' %}"></script>
{% endblock script %}

{% block head_title %}{{ project.name }}{% endblock %}

{% block content %}
<div id="info">
	<div class="mui-row">
		<div class="mui-col-xs-12">
			<h1>{{ project.name }}</h1>
		</div>
		<div class="mui-col-xs-12">
			{{ project.description }}
		</div>
	</div>
</div>

{% crispy form %}

<div id="list">
	{% for item in project.action_list.all %}
		<div class="mui-row{% if item.complete %} checked{% endif %}">
			<div class="mui-col-xs-12 mui-col-md-6 action-item">
				{{ item.text }}
				<form method="post"
					action="{% url 'projects:complete_action' item.pk %}">
					{% csrf_token %}
				</form>
			</div>
			<div class="mui-col-xs-4">
				<a class="mui-btn mui-btn--danger mui-btn--fab action-delete"
					href="{% url 'projects:delete_actionlist' item.pk %}"
					title="{% trans 'Delete' %}">
					<span class="fa fa-times fa-2x"></span>
				</a>
			</div>
		</div>
	{% endfor %}
</div>

{% endblock content %}
