{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block page_content %}
{% if confirmation %}
	{% user_display confirmation.email_address.user as user_display %}

	<div class="mui-row">
		<div class="mui-col-xs-12">
			{% blocktrans with confirmation.email_address.email as email %}
			Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is
			an e-mail address for user {{ user_display }}.{% endblocktrans %}
		</div>
	</div>

	<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
		{% csrf_token %}
		<div class="mui-row">
			<div class="mui-col-xs-12">
				<button class="mui-btn mui-btn--primary" type="submit">
					{% trans 'Confirm' %}
				</button>
			</div>
		</div>
	</form>

{% else %}
	{% url 'account_email' as email_url %}

	<div class="mui-row">
		<div class="mui-col-xs-12">
			{% blocktrans %}This e-mail confirmation link expired or is
			invalid. Please <a href="{{ email_url }}">issue a new e-mail
			confirmation request</a>.{% endblocktrans %}
		</div>
	</div>

{% endif %}

{% endblock %}
