{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}
	{% trans "Sign In" %}
{% endblock %}

{% block title %}
	{% trans "Sign In" %}
{% endblock %}

{% block page_content %}
{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
	{% include "socialaccount/snippets/login_extra.html" %}
	<div class="mui-row">
		<div class="mui-col-xs-12">
			{% blocktrans with site.name as site_name %}Please sign in with
			one of your existing third party accounts. Or,
			<a href="{{ signup_url }}">sign up</a> for a {{ site_name }}
			account and sign in below:{% endblocktrans %}
		</div>
	</div>

	<div class="mui-row">
		<div class="mui-col-xs-12">
			<ul class="socialaccount_providers mui--list-inline">
				{% include "socialaccount/snippets/provider_list.html" with process="login" %}
			</ul>
		</div>
	</div>
	<div class="mui-row">
		<div class="mui-col-xs-12 mui--text-subhead">
			{% trans 'or' %}
		</div>
	</div>
{% else %}
	<div class="mui-row">
		<div class="mui-col-xs-12">
			{% blocktrans %}If you have not created an account yet, then
			please <a href="{{ signup_url }}">sign up</a> first.
			{% endblocktrans %}
		</div>
	</div>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
	{% csrf_token %}
	{{ form|crispy }}

	<div class="mui-row">
		<div class="mui-col-xs-12 mui-col-md-6">
			<button class="mui-btn mui-btn--primary mui-btn--raised" type="submit">
				{% trans "Sign in" %}
			</button>
		</div>
		<div class="mui-col-xs-12 mui-col-md-6 mui--text-right">
			<a class="mui-btn mui-btn--raised"
				href="{% url 'account_reset_password' %}">
				{% trans "Forgot Password?" %}
			</a>
		</div>
	</div>
	<div class="mui-row">
		<div class="mui-col-xs-12 mui-col-md-6">
			<a class="mui-btn mui-btn--raised"
				href="{% url 'account_signup' %}">{% trans 'Register' %}</a>
		</div>
	</div>
</form>

{% endblock %}
