{% extends "settings/base.html" %}
{% load i18n crispy_forms_tags %}

{% block content %}
<div class="mui-container-fluid">
	<div class="mui-row">
		<div class="mui-col-xs-12 mui-col-md-6 mui-col-md-offset-3
			mui--text-headline">
			{% trans 'Change password' %}
		</div>
	</div>
	<div class="mui-row">
		<div class="mui-col-xs-12 mui-col-md-6 mui-col-md-offset-3">
			<form method="post" action="{% url 'account_change_password' %}"
				class="password_change">
				{% csrf_token %}
				{{ form|crispy }}
				<button type="submit" name="action" class="mui-btn mui-btn--primary">
					{% trans 'Change password' %}
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock content %}
