{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block page_content %}
{% if user.is_authenticated %}
	{% include "account/snippets/already_logged_in.html" %}
{% endif %}
    
<div class="mui-row">
	<div class="mui-col-xs-12">
		{% blocktrans %}We have sent you an e-mail. Please contact us if you
		do not receive it within a few minutes.{% endblocktrans %}
	</div>
</div>
{% endblock %}
