{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block page_content %}
{% if user.is_authenticated %}
	{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<div class="mui-row">
	<div class="mui-col-xs-12">
		{% blocktrans %} Forgotten your password? Enter your e-mail
		address below,and we'll send you an e-mail allowing you to reset
		it. Please contact us if you have any trouble resetting your
		password.{% endblocktrans %}
	</div>
</div>

<form method="POST" action="{% url 'account_reset_password' %}"
	class="password_reset">
	{% csrf_token %}

	{% for error in form.non_field_errors %}
		<div class="mui-row">
			<div class="mui-col-xs-12 mui--text-danger">
				{{ error }}
			</div>
		</div>
	{% endfor %}

	{% if form.email.errors %}
		<div class="mui-row">
			<div class="mui-col-xs-12 mui--text-danger mui-list--inline">
				{{ form.email.errors }}
			</div>
		</div>
	{% endif %}
	<div class="mui-row">
		<div class="mui-col-xs-12">
			<div class="mui-textfield mui-textfield--float-label">
				{{ form.email }}
				{{ form.email.label_tag }}
			</div>
		</div>
	</div>

	<div class="mui-row">
		<div class="mui-col-xs-12">
			<button class="mui-btn mui-btn--primary" type="submit">
				{% trans 'Reset My Password' %}
			</button>
		</div>
	</div>
</form>

{% endblock %}
