{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block title %}
	{% trans "Sign Up" %}
{% endblock %}

{% block page_content %}
<div class="mui-row">
	<div class="mui-col-xs-12">
		{% blocktrans %}Already have an account or want to use your social
		media account? Then please <a href="{{ login_url }}">sign in</a>
		instead.
		{% endblocktrans %}
	</div>
</div>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
	{% csrf_token %}
	{{ form|crispy }}
	<div class="mui-row">
		<div class="mui-col-xs-12 mui--text-right">
			<button class="mui-btn mui-btn--primary" type="submit">
				{% trans "Sign Up" %} &raquo;
			</button>
		</div>
	</div>
</form>

{% endblock %}
