.socialaccount.persona {
	background: url('../img/persona-logo-wordmark.png') no-repeat center center;
	background-size: 80% auto;
	padding-left: 40px;
	color: transparent;
}

.socialaccount.persona:hover {
	color: transparent;
}

a.appbar-correct {
	color: white;
}

.errorlist {
	list-style: outside none none;
}

.hide-label label {
	display: none;
}

.full-height {
	padding-top: 1%;
	padding-bottom: 1%;
}

.action-item:hover {
	cursor: pointer;
	text-decoration: line-through;
}

#checked .action-item, .checked .action-item {
	color: #9e9e9e;
	text-decoration: line-through;
}

.checked .action-item:hover {
	text-decoration: none;
}

form.button-form {
	display: inline;
}
