{% extends 'base_with_sidebar.html' %}
{% load i18n %}

{% block head_title %}{% trans 'Settings' %}{%endblock %}

{% block sidebar %}
	<li>
		<a class="sidebar-mainlink" href="{% url 'projects:main' %}" id="return">
			{% trans 'Home' %}
		</a>
	</li>
	<li>
		<a class="sidebar-mainlink" href="{% url 'settings:main' %}" id="general">
			{% trans 'General' %}
		</a>
	</li>
	<li>
		<a class="sidebar-mainlink" href="{% url 'settings:account' %}" id="account">
			{% trans 'Account' %}
		</a>
	</li>
{% endblock %}
